<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!------------------------------- CSS StyleSheet link ---------------------------->
    <link rel="stylesheet" media="all" type="text/css" href="/public/css/styles.css">

    <!------------------------------- Bootstrap CDN ---------------------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>

    <!------------------------------- Font Awesome CDN -------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

    <title>dashboard</title>

</head>

<body onload="validateInput()" id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-------------------- Sidebar ------------------->
        <ul class="navbar-nav bg-dark bg-gradient-primary sidebar sidebar-dark accordion collapse-inner collapse show"
            id="accordionSidebar">

            <!---------- Sidebar - Brand ------------>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-text mx-3">CSP</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading"> Buy </div>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <i class="fas fa-laptop"></i>
                    <span>PC</span></a>
                <a class="nav-link" href="/buy-cell-phone">
                    <i class="fas fa-mobile-alt"></i>
                    <span>Cell Phone</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading"> Purchases </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-shopping-cart"></i>
                    <span>My Purchases</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Cell Phone</h6>
                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-resposnsive" src="./public/css/images/Iphonex.png">
                            </div>
                            <div class="col-sm">
                                <p class="item-name">Iphone X </p>
                                <p class="item-p">Read more...</p>

                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-resposnsive" src="./public/css/images/s10.jpg">
                            </div>
                            <div class="col-sm">
                                <p class="item-name">Galaxy S10</p>
                                <p class="item-p">Read more...</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <img class="img-resposnsive" src="./public/css/images/iphonexr.jpg">
                            </div>
                            <div class="col-sm">
                                <p class="item-name">Iphone XR</p>
                                <p class="item-p">Read more...</p>

                            </div>
                        </div>


                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-dark bg-dark topbar mb-4 shadow static-top justify-content-end">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"
                        data-toggle="collapse" data-target="#accordionSidebar">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="" id="">
                        <ul class="navbar-nav">
                            <li class="nav-item mr-3">
                                <a class="nav-link" href="/buy-cell-phone">Buy Cell Phone</a>
                            </li>
                            <li class="nav-item mr-5">
                                <a class="nav-link" href="">Buy PC</a>
                            </li>

                            <div class="topbar-divider d-none d-lg-block"></div>
                        </ul>
                    </div>

                    <div class="mr-1 ml-3">
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 ml-1 d-none d-lg-inline"><%= user.FirstName %>
                                        <%= user.LastName %></span>
                                    <img class="img-profile rounded-circle"
                                        src="https://scontent.fsdv2-1.fna.fbcdn.net/v/t1.0-9/44536570_10217016452380949_4084243414340599808_o.jpg?_nc_cat=110&amp;_nc_sid=09cbfe&amp;_nc_ohc=vbp9lkJfA3oAX-koVQ3&amp;_nc_ht=scontent.fsdv2-1.fna&amp;oh=cf7f8a4631d09f9ffeb7de236851c4d9&amp;oe=5EE3C10C">
                                </a>

                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby=" ">
                                    <a class="dropdown-item" href="/profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" href="/about">
                                        <i class="fas fa-info fa-sm fa-fw mr-2 text-gray-400"></i>
                                        About
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </nav>
                <!-- End of Topbar -->

                <!------------------------ Begin Page Content --------------------------->
                <div class="container-fluid">
                    <!-------------------- Profile details ----------------------->
                    <div class="row">
                        <h1 class="ml-3">Profile details</h1>
                    </div>
                    <form  action="/profileInfo" method="POST" class="needs-validation">
                        <div class="row ml-5 mt-5">
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fa fa-address-card-o mr-3" style="font-size: 20px;"></i>
                                    <h5>First name</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="firstname" value=<%= user.FirstName %>>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fa fa-address-card-o mr-3" style="font-size: 20px;"></i>
                                    <h5>Last name</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="lastname" value=<%= user.LastName %>>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fa fa-phone mr-3" style="font-size: 20px;" aria-hidden="true"></i>
                                    <h5>Phone number</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="phonenumber" value=<%= user.PhoneNumber %>>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fas fa-globe-europe mr-3" style="font-size: 20px;"></i>
                                    <h5>Country</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="country" value=<%= user.Country %>>
                                </div>
                            </div>
                        </div>
                        <div class="row ml-5 mt-5">
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="far fa-envelope mr-3" style="font-size: 20px;"></i>
                                    <h5>E-mail</h5>
                                </div>
                                <div class="row">
                                    <input type="text" name="email" value=<%= user.Email %>></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fas fa-city mr-3" style="font-size: 20px;"></i>
                                    <h5>City</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="City" value=<%= user.City %>>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fa fa-road mr-3" aria-hidden="true" style="font-size: 20px;"></i>
                                    <h5>Street</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="Street" value=<%= user.Street %>>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row form-group">
                                    <i class="fas fa-mail-bulk mr-3" style="font-size: 20px;"></i>
                                    <h5>Zip code</h5>
                                </div>
                                <div class="row form-group">
                                    <input type="text" name="Zipcode" value=<%= user.ZipCode %>>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5 justify-content-end">
                            <div class="col-2">
                                <button class="btn btn-primary text-uppercase font-weight-bold"
                                    type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                    <!--------------------End Profile details ----------------------->
                    <hr>

                    <div class="row ">
                        <!-------------------- Profile details ----------------------->
                        <div class="col">
                            <div class="row justify-content-center">
                                <h1 class="ml-3">Change password</h1>
                            </div>

                            <div class="row justify-content-center">
                                <form class="ml-5" action="/change-password" method="POST">
                                    <div class="form-label-group mt-5">
                                        <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                                            placeholder="Old password" required>
                                        <label for="oldPassword"><i class="fas fa-lock" style="font-size: 20px;"></i>
                                            Old password</label>
                                    </div>
                                    <div class="form-row mt-4">
                                        <div class="form-label-group col-md-6 col-sm">
                                            <input type="password" id="newPassword" name="newPassword"
                                                class="form-control" placeholder="New password" required>
                                            <label for="newPssword"><i class="fas fa-lock" style="font-size: 20px;"></i>
                                                New password</label>
                                        </div>
                                        <div class="form-label-group col-md-6 col-sm">
                                            <input type="password" id="confirmPass" name="confirmPass"
                                                class="form-control" placeholder="Old password" required>
                                            <label for="confirmPass"><i class="fas fa-lock"
                                                    style="font-size: 20px;"></i> Confirm password</label>
                                        </div>

                                    </div>
                                    <div class="row mt-3 justify-content-center">
                                        <button
                                            class="btn btn-primary btn-block text-uppercase font-weight-bold sign-in-up-btn col-8"
                                            type="submit" style="height: 4rem;">Change password</button>
                                    </div>
                                </form>
                                
                            </div>
                        </div>

                    </div>



                </div>
                <!-- .container-fluid -->

            </div>
            <!-------------------------------- End of Main Content ------------------------->
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->



        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form action="/logout" method="POST">
                            <button type="submit" class="btn btn-primary" href="login.html">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<script>
    function validateInput(){
    const firstname = document.getElementsByName('firstname');
    const lastname = document.getElementsByName('lastname');
    const phonenumber = document.getElementsByName('phonenumber');
    const country = document.getElementsByName('country');
    const email = document.getElementsByName('email');
    const City = document.getElementsByName('City');
    const Street = document.getElementsByName('Street');
    const Zipcode = document.getElementsByName('Zipcode');

    console.log(firstname[0].value)
    if(firstname[0].value){
        jQuery(firstname).attr('required', '');  
    }
    if(lastname[0].value){
        jQuery(lastname).attr('required', '');  
    }
    if(phonenumber[0].value){
        jQuery(phonenumber).attr('required', '');  
    }
    if(country[0].value){
        jQuery(country).attr('required', '');  
    }
    if(email[0].value){
        jQuery(email).attr('required', '');  
    }
    if(City[0].value){
        jQuery(City).attr('required', '');  
    }
    if(Street[0].value){
        jQuery(Street).attr('required', '');  
    }
    if(Zipcode[0].value){
        jQuery(Zipcode).attr('required', '');  
    }
}



</script>

    </body>

</html>



