<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!------------------------------- CSS StyleSheet link ---------------------------->
    <link rel="stylesheet" type="text/css" media="all" href="/public/css/styles.css">

    <!------------------------------- Bootstrap CDN ---------------------------------->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!------------------------------- Font Awesome CDN -------------------------------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

    <!------------------------------- reCAPTCHA -------------------------------->
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <title>sign up</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <!---------------------- Side Image -------------------->
            <div id="particles-js" class="d-none d-md-flex col-md-2 col-lg-6 bg-img-sign-up"></div>
            <div class="col-md-10 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-lg-8 mx-auto">
                                <div class="row justify-content-center mr-4 mb-3">
                                    <img src="public/css/images/logo.png"  style="height: 6rem; width: 7rem;">
                                </div>
                                <h1 class="sign-in-up text-dark mb-5 text-center">Create an Account!</h1>
                                <!----------------------- Start Form --------------------->
                                <form id="form-signup" action="/sign-up" method="POST" class="needs-validation" onsubmit="checkCaptcha(event)"
                                    novalidate>
                                    <div class="row">
                                        <div class="col-6">
                                            <!----------------------- firstname input ------------------------>
                                            <div class="form-label-group">
                                                <input type="text" name="firstname" id="firstname" class="form-control"
                                                    placeholder="First Name"
                                                    value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
                                                    required autofocus>
                                                <label for="firstname" class="ml-2"><i class="fa fa-address-card-o"
                                                        style="font-size: 20px;"></i>First
                                                    Name</label>
                                                <i class="fas fa-check-circle"></i>
                                                <i class="fas fa-exclamation-circle"></i>
                                                <div class="invalid-feedback mr-5 pr-5">please enter your first name
                                                </div>
                                                <small>Error Message</small>
                                            </div>
                                            <div class="row mr-5 pr-5">
                                                <div id="errorFirstname" style="display: none;"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-6">
                                            <!------------------------ lastname input ------------------------>
                                            <div class="form-label-group">
                                                <input type="text" name="lastname" id="lastname"
                                                    class="form-control mr-5" placeholder="Last Name"
                                                    value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
                                                    required>
                                                <label for="lastname"><i class="fa fa-address-card-o"
                                                        style="font-size: 20px;"></i>Last Name</label>
                                                <i class="fas fa-check-circle"></i>
                                                <i class="fas fa-exclamation-circle"></i>
                                                <div class="invalid-feedback">please enter your last name</div>
                                                <small>Error Message</small>
                                            </div>
                                            <div class="row ml-3 pb-1">

                                                <div id="errorLastname"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <!---------------------------- email input ---------------------------->
                                        <div class="form-label-group row">
                                            <input type="email" name="email" id="email" class="form-control"
                                                placeholder="Email Address"
                                                value="<%= typeof email != 'undefined' ? email : '' %>" required>

                                            <label for="email"><i class="far fa-envelope"
                                                    style="font-size: 20px;"></i>Email Address</label>
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <div class="invalid-feedback">invalid email</div>
                                            <% if (typeof error != 'undefined') { %>
                                                <div class="text-danger"><%= error %></div>
                                                <% } %>
                                            <div id="errorEmail"></div>
                                            <small>Error Message</small>
                                        </div>
                                        <!--------------------------- password input -------------------------->
                                        <div class="form-label-group row">
                                            <input type="password" name="password" id="password" class="form-control"
                                                placeholder="Password"
                                                value="<%= typeof password != 'undefined' ? password : '' %>" required>
                                            <label for="password"><i class="fas fa-lock"
                                                    style="font-size: 20px;"></i>Password</label>
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <div class="invalid-feedback">your password must contain 6 characters</div>
                                            <div id="errorPassword"></div>
                                            <small>Error Message</small>
                                        </div>
                                        <!------------------------ confirm password input --------------------->
                                        <div class="form-label-group row">
                                            <input type="password" name="confirmPass" id="confirmPass"
                                                class="form-control" placeholder="Confirm Password"
                                                value="<%= typeof confirmpassword != 'undefined' ? confirmpassword : '' %>"
                                                required>

                                            <label for="confirmPass"><i class="fas fa-lock"
                                                    style="font-size: 20px;"></i>Confirm Password</label>
                                            <i class="fas fa-check-circle"></i>
                                            <i class="fas fa-exclamation-circle"></i>
                                            <div id="errorPasswordConformation"></div>
                                            <small>Error Message</small>
                                        </div>
                                        <!-------------------------- promocode input -------------------------->
                                        <div class="form-label-group row mb-0 pb-0">
                                            <input type="text" name="promocode" id="promocode"
                                                class="form-control col-lg-6"
                                                value="<%= typeof promocode != 'undefined' ? promocode : '' %>"
                                                placeholder="Promo Code">
                                            <label for="promocode"><i class="fas fa-percent"
                                                    style="font-size: 20px;"></i>Have a promo code?</label>
                                            <% if (typeof prommoError != 'undefined') { %>
                                                <div class="text-danger mb-3 col-12"><%= prommoError %></div>
                                                <% } %>
                                        </div>

                                        <!-------------------------- reCAPTCHA -------------------------->
                                        <div class="g-recaptcha row"
                                            data-sitekey="6LfsdP0UAAAAAOrqd6tg9l9ve3Q-OsoRvb_hDxrb">
                                        </div>
                                        <!----------------------- register account button --------------------->
                                        <div class="row justify-content-center">
                                            <button type="submit" id="submitBtn" style="border: none; height: 3.2rem;"
                                                class="glyphicon bg-secondary glyphicon-search btn btn-primary btn-block btn-login text-uppercase font-weight-bold my-5">
                                                <i class="fa fa-user-plus" style="font-size: 20px;"></i>
                                                Register Account
                                            </button>
                                        </div>
                                        <p class="d-flex justify-content-center h4">Already have an account?<a href="/sign-in"
                                            class="card-link ml-2"> Sign in</a></p>
                                    </div>
                            </div>
                            </form>
                            <!----------------------- End Form --------------------->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        particlesJS.load('particles-js', '/public/json/particles.json', function () {
            console.log("particles.js loaded...");
        })
    </script>
    <script src="/public/javascript/validation.js"></script>

    <script>
        function checkCaptcha(e) {
            if (grecaptcha && grecaptcha.getResponse().length > 0) {
                return true;
            } else {
                e.preventDefault();
                alert('Oops, you have to check the recaptcha !');
                return false;
            }
        }
    </script>
</body>

</html>